<ol class="progress-bar">
  <li class="completed">Start<a href="#"></a></li>
  <li class="completed">Coverages<a href="#"></a></li>
  <li class="active">Forms & Mods</li>
  <li>Review</li>
  <li>Send Quote</li>
</ol>