---
title: "Action Prompt: Modules"
id: modules
---
h1 Action Prompt

p The action prompt is intended to be use when there is no data present and the user needs to be prompted to perform an action.

section.styleguide-module-details
  = live_example('/modules/_code-examples/action-prompt-html')
  = code_example('/modules/_code-examples/action-prompt-html', 'html')
