strong Small

h1 This is a heading with <small>something small</small>
p: small A paragraph that's smaller and could be used for fine print.

strong Bold

p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <strong>exercitation ullamco laboris nisi ut aliquip</strong> ex ea commodo.

strong Italic

p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <em>exercitation ullamco laboris nisi ut aliquip</em> ex ea commodo.

strong Classes

p.emphasis-muted Text that has been muted
p.emphasis-warning Warning Text
p.emphasis-error Error Text
p.emphasis-info Informational Text
p.emphasis-success Success Text



