<ul class="tabs">
  <li class="tab-item active"><a href="#">Content 1</a></li>
  <li class="tab-item"><a href="#">Content 2</a></li>
  <li class="tab-item"><a href="#">Content 3</a></li>
  <li class="tab-item"><a href="#">Content 4</a></li>
  <li class="tab-item"><a href="#">Content 5</a></li>
  <li class="tab-item"><a href="#">Content 6</a></li>
</ul>

<div class="tab-content-container">
  <div class="tab-content">
    Content 1 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div>
  <div class="tab-content">
    Content 2 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div>
  <div class="tab-content">
    Content 3 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div>
  <div class="tab-content">
    Content 4 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div>
  <div class="tab-content">
    Content 5 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div>
  <div class="tab-content">
    Content 6 placeat qui aliquid enim quia suscipit qui et. porro possimus asperiores eveniet et officia aperiam est sit autem incidunt et est velit. vero cumque quidem maxime. dolorem aperiam asperiores ut repudiandae neque error quia consequatur accusamus. cum dolore in hic facere blanditiis qui. architecto voluptatum sapiente praesentium tempore dolorem reprehenderit reprehenderit aut quo optio ab quo dicta aut.
  </div> 
</div>