<div class="field">
  <label for="basic-select-concat">Basic Select</label>

  <div class="custom-select-wrapper">
    <select id="basic-select-concat" name="basic-select-concat" tabindex="-1" data-type="basic-select" style="max-width:150px;">
      <option>--Choose One--</option>
      <option value="option-1">Lorem ipsum dolor sit amet consectetur adipisicing</option>
      <option value="option-3">Ut enim ad minim veniam</option>
      <option value="option-4">Excepteur sint occaecat cupidatat non proident</option>
      <option value="option-5">Laboris nisi ut aliquip ex ea commodo</option>
    </select>

    <div class="custom-select" tabindex="0">
      <div class="custom-select-text" data-placeholder="--Choose One--">--Choose One--</div>
      <ul class="custom-select-list">
        <li tabindex="0" data-selected="false" data-disabled="false">--Choose One--</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Lorem ipsum dolor sit amet consectetur adipisicing</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Ut enim ad minim veniam</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Excepteur sint occaecat cupidatat non proident</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Laboris nisi ut aliquip ex ea commodo</li>
      </ul>
    </div>
  </div>
  <span class="error"></span>
</div>
