<div class="field">
  <label for="basic-input-required">Basic Input Label <abbr title="required">*</abbr></label>
  <input type="text" id="basic-input-required" name="basic-input-required" size="40" required />
</div>