<div class="field">
  <label for="basic-input">Basic Input Label</label>
  <input type="text" id="basic-input" name="basic-input" size="40" placeholder="Placeholder Text" />
  <p class="help-text">Each input can have optional help text.</p>
</div>