<div class="field">
  <label for="basic-select">Basic Select<abbr title="required">*</abbr></label>

  <div class="custom-select-wrapper">
    <select id="basic-select-required" name="basic-select" tabindex="-1" data-type="basic-select" required>
      <option>--Choose One--</option>
      <option value="option-1">Option 1</option>
      <option value="option-2" disabled>Option 2</option>
      <option value="option-3">Option 3</option>
      <option value="option-4">Option 4</option>
      <option value="option-5">Option 5</option>
      <option value="option-6">Option 6</option>
      <option value="option-7">Option 7</option>
      <option value="option-8">Option 8</option>
    </select>

    <div class="custom-select" tabindex="0" data-required="true">
      <div class="custom-select-text" data-placeholder="--Choose One--">--Choose One--</div>
      <ul class="custom-select-list">
        <li tabindex="0" data-selected="false" data-disabled="false">--Choose One--</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 1</li>
        <li tabindex="0" data-selected="false" data-disabled="true">Option 2 with a really long value</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 3</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 4</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 5</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 6</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 7</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 8</li>
      </ul>
    </div>
  </div>
  <span class="error"></span>
</div>
