<div class="field invalid">
  <label for="basic-input-error">Basic Input Label</label>
  <input type="text" id="basic-input-error" name="basic-input-error" size="40" />
  <span class="error"></span>
</div>
