<div class="field-group invalid">
  <div class="field">
    <label for="field-group-zip-error">Zip Code</label>
    <input type="text" id="field-group-zip-error" name="field-group-zip-error" size="5" />
  </div>
  <div class="field">
    <input type="text" id="field-group-zip-error-2" name="field-group-zip-error-2" size="4" />
  </div>
  <span class="error"></span>
</div>