<div class="field-group">
  <div class="field">
    <label for="field-group-zip">Zip Code</label>
    <input type="text" id="field-group-zip" name="field-group-zip" size="5" />
  </div>
  <div class="field">
    <input type="text" id="field-group-zip-2" name="field-group-zip-2" size="4" />
  </div>
</div>