<fieldset name="basic-disabled-fieldset" id="basic-disabled-fieldset" disabled>
  <legend><h2>Customer Address</h2></legend>
  <div class="field">
    <label for="fieldset-disabled-street-address">Address</label>
    <input type="text" id="fieldset-disabled-street-address" name="fieldset-disabled-street-address" size="40" />
  </div>
  <div class="field-group">
    <div class="field">
      <label for="fieldset-disabled-street-city">City</label>
      <input type="text" id="fieldset-disabled-street-city" name="fieldset-disabled-street-city" size="40" />
    </div>
    <div class="field">
      <label for="fieldset-disabled-state">State</label>
      <select id="fieldset-disabled-state">
        <option>Alabama</option>
        <option>Arkansas</option>
        <option>Nebraska</option>
      </select>
    </div>
  </div>
  <div class="field">
    <label for="fieldset-disabled-zip">Zip Code</label>
    <input type="text" id="fieldset-disabled-zip" name="fieldset-disabled-zip" size="5" />
  </div>
</fieldset>
