<div class="field-group vertical-fields">
  <div class="field">
    <label for="vertical-address-1">Address</label>
    <input type="text" id="vertical-address-1" name="vertical-address-1" size="40" />
  </div>
  <div class="field">
    <input type="text" id="vertical-address-2" name="vertical-address-2" size="40" />
  </div>
</div>

<div class="option-group vertical-fields">
  <label for="vertical-checkboxes-1">Vertical Checkboxes</label>
  <ul class="custom-option">
    <li class="field">
      <label for="vertical-checkboxes-1">Option 1</label>
      <input type="checkbox" id="vertical-checkboxes-1" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
    </li>
    <li class="field">
      <label for="vertical-checkboxes-2">Option 2</label>
      <input type="checkbox" id="vertical-checkboxes-2" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
    </li>
    <li class="field">
      <label for="vertical-checkboxes-3">Option 3</label>
      <input type="checkbox" id="vertical-checkboxes-3" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
      <div class="field">
        <input id="radioTextBox" name="radioTextBox" size="5" type="text">
        <span class="error"></span>
      </div>
    </li>
    <li class="field">
      <label for="vertical-checkboxes-4">Option 4</label>
      <input type="checkbox" id="vertical-checkboxes-4" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
    </li>
    <li class="field">
      <label for="vertical-checkboxes-5">Option 5</label>
      <input type="checkbox" id="vertical-checkboxes-5" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
      <div class="field">
        <div class="custom-select-wrapper">
        <select id="basic-select" name="basic-select" tabindex="-1" data-type="basic-select">
          <option>--Choose One--</option>
          <option value="option-1">Option 1</option>
          <option value="option-2">Option 2</option>
          <option value="option-3">Option 3</option>
          <option value="option-4">Option 4</option>
          <option value="option-5">Option 5</option>
          <option value="option-6">Option 6</option>
          <option value="option-7">Option 7</option>
          <option value="option-8">Option 8</option>
          <option value="option-7">Option 9</option>
          <option value="option-8">Option 10</option>
          <option value="option-8">Option 11</option>
        </select>

        <div class="custom-select" tabindex="0">
          <div class="custom-select-text" data-placeholder="--Choose One--">--Choose One--</div>
          <ul class="custom-select-list">
            <li tabindex="0" data-selected="false" data-disabled="false">--Choose One--</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 1</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 2</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 3</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 4</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 5</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 6</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 7</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 8</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 9</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 10</li>
            <li tabindex="0" data-selected="false" data-disabled="false">Option 11</li>
          </ul>
        </div>
      </div>
      </div>
    </li>
    <li class="field">
      <label for="vertical-checkboxes-6">Option 6</label>
      <input type="checkbox" id="vertical-checkboxes-6" name="vertical-checkboxes" />
      <span class="custom-checkbox-input"></span>
    </li>
  </ul>
</div>
