<div class="option-group vertical-fields">
  <label for="vertical-radios-1">Premium <abbr title="required">*</abbr></label>
  <ul class="custom-option">
    <li class="field">
      <label for="vertical-radios-1">Included</label>
      <input type="radio" id="vertical-radios-1" name="vertical-radios" />
      <span class="custom-radio-input"></span>
    </li>
    <li class="field">
      <label for="vertical-radios-2">Flat</label>
      <input type="radio" id="vertical-radios-2" name="vertical-radios" />
      <span class="custom-radio-input"></span>
    </li>
    <li class="field">
      <label for="vertical-radios-5">Rate</label>
      <input type="radio" id="vertical-radios-5" name="vertical-radios" />
      <span class="custom-radio-input"></span>
      <div class="field">
        <input type="text" size="8" id="rate-input" />
      </div>
      <div class="horizontal-fields rate-override" data-override="false">
        <div class="field rate-override-price">
          <label for="rate-input-override">= $0.00</label>
          <input type="text" size="8" id="rate-input-override" class="rate-override-input"/>
        </div>
        <div class="field rate-override-boolean">
          <label for="rate-checkbox-1">Override</label>
          <input type="checkbox" id="rate-checkbox-1" name="rate-checkbox" />
          <span class="custom-checkbox-input"></span>
        </div>
      </div>
    </li>

  </ul>
</div>
