<div class="field">
  <label for="dropdown-select">dropdown</label>

  <select id="kendo-dropdown" name="dropdown-select" data-type="kendo-dropdown" placeholder="--Choose One--">
    <option value="option-1">Option 1</option>
    <option value="option-2">Option 2</option>
    <option value="option-3">Option 3</option>
    <option value="option-4">Option 4</option>
    <option value="option-5">Option 5</option>
    <option value="option-6">Option 6</option>
    <option value="option-7">Option 7</option>
    <option value="option-8">Option 8</option>
    <option value="option-7">Option 9</option>
    <option value="option-8">Option 10</option>
    <option value="option-8">Option 11</option>
  </select>
  <span class="error"></span>
</div>
