<div class="field">
  <label for="datepicker">Datepicker<abbr title="Required">*</abbr></label>

  <input type="date" id="datepicker" name="datepicker" required="required">
  <span class="error"></span>
</div>
