<div class="option-group">
  <label for="radio-group-disabled-1">Radio Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="radio-group-disabled-1" data-disabled="true">Option 1</label>
      <input type="radio" id="radio-group-disabled-1" name="radio-group-disabled" disabled/>
      <span class="custom-radio-input" data-disabled="true"></span>
    </li>
    <li class="field">
      <label for="radio-group-disabled-2" data-disabled="true">Option 2</label>
      <input type="radio" id="radio-group-disabled-2" name="radio-group-disabled" disabled/>
      <span class="custom-radio-input" data-disabled="true"></span>
    </li>
  </ul>
</div>

<div class="option-group">
  <label for="checkbox-group-disabled-1">Checkbox Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="checkbox-group-disabled-1" data-disabled="true">Option 1</label>
      <input type="checkbox" id="checkbox-group-disabled-1" name="checkbox-group-disabled" disabled />
      <span class="custom-checkbox-input" data-disabled="true"></span>
    </li>
    <li class="field">
      <label for="checkbox-group-disabled-2" data-disabled="true">Option 2</label>
      <input type="checkbox" id="checkbox-group-disabled-2" name="checkbox-group-disabled" disabled />
      <span class="custom-checkbox-input" data-disabled="true"></span>
    </li>
  </ul>
</div>
