<div class="option-group">
  <label for="radio-group-required-1">Radio Inputs <abbr title="required">*</abbr></label>
  <ul class="custom-option">
    <li class="field">
      <label for="radio-group-required-1">Option 1</label>
      <input type="radio" id="radio-group-required-1" name="radio-group-required" required/>
      <span class="custom-radio-input" data-required="true"></span>
    </li>
    <li class="field">
      <label for="radio-group-required-2">Option 2</label>
      <input type="radio" id="radio-group-required-2" name="radio-group-required" required/>
      <span class="custom-radio-input" data-required="true"></span>
    </li>
  </ul>
</div>

<div class="option-group">
  <label for="checkbox-group-required-1">Checkbox Inputs <abbr title="required">*</abbr></label>
  <ul class="custom-option">
    <li class="field">
      <label for="checkbox-group-required-1">Option 1</label>
      <input type="checkbox" id="checkbox-group-required-1" name="checkbox-group-required" required/>
      <span class="custom-checkbox-input" data-required="true"></span>
    </li>
    <li class="field">
      <label for="checkbox-group-required-2">Option 2</label>
      <input type="checkbox" id="checkbox-group-required-2" name="checkbox-group-required" required/>
      <span class="custom-checkbox-input" data-required="true"></span>
    </li>
  </ul>
</div>
