<div class="option-group invalid">
  <label for="radio-group-error-1">Radio Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="radio-group-error-1">Option 1</label>
      <input type="radio" id="radio-group-error-1" name="radio-group-error" />
      <span class="custom-radio-input"></span>
    </li>
    <li class="field">
      <label for="radio-group-error-2">Option 2</label>
      <input type="radio" id="radio-group-error-2" name="radio-group-error" />
      <span class="custom-radio-input"></span>
    </li>
  </ul>
  <span class="error"></span>
</div>

<div class="option-group invalid">
  <label for="checkbox-group-error-1">Checkbox Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="checkbox-group-error-1">Option 1</label>
      <input type="checkbox" id="checkbox-group-error-1" name="checkbox-group-error" />
      <span class="custom-checkbox-input"></span>
    </li>
    <li class="field">
      <label for="checkbox-group-error-2">Option 2</label>
      <input type="checkbox" id="checkbox-group-error-2" name="checkbox-group-error" />
      <span class="custom-checkbox-input"></span>
    </li>
  </ul>
  <span class="error"></span>
</div>