<div class="option-group">
  <label for="radio-group-1">Radio Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="radio-group-1">Option 1</label>
      <input type="radio" id="radio-group-1" name="radio-group" />
      <span class="custom-radio-input"></span>
    </li>
    <li class="field">
      <label for="radio-group-2">Option 2</label>
      <input type="radio" id="radio-group-2" name="radio-group" />
      <span class="custom-radio-input"></span>
    </li>
  </ul>
</div>

<div class="option-group">
  <label for="checkbox-group-1">Checkbox Inputs</label>
  <ul class="custom-option">
    <li class="field">
      <label for="checkbox-group-1">Option 1</label>
      <input type="checkbox" id="checkbox-group-1" name="checkbox-group" />
      <span class="custom-checkbox-input"></span>
    </li>
    <li class="field">
      <label for="checkbox-group-2">Option 2</label>
      <input type="checkbox" id="checkbox-group-2" name="checkbox-group" />
      <span class="custom-checkbox-input"></span>
    </li>
  </ul>
</div>