<div class="field invalid">
  <label for="basic-textarea">Basic Textarea</label>
  <textarea id="basic-textarea" name="basic-textarea" cols="75" rows="10"></textarea>
  <span class="error"></span>
</div>