<div class="field invalid">
  <label for="typeahead-select-error">Typeahead Select</label>

  <div class="custom-select-wrapper">
    <select id="typeahead-select-error" name="basic-select" tabindex="-1" data-type="typeahead-select">
      <option>--Choose One--</option>
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option>
      <option value="option-3">Option 3</option>
      <option value="option-4">Option 4</option>
      <option value="option-5">Option 5</option>
      <option value="option-6">Option 6</option>
      <option value="option-7">Option 7</option>
      <option value="option-8">Option 8</option>
      <option value="option-7">Option 9</option>
      <option value="option-8">Option 10</option>
      <option value="option-8">Option 11</option>
    </select>

    <div class="custom-select" tabindex="0">
      <div class="custom-select-text" data-placeholder="--Choose One--">--Choose One--</div>
      <input class="custom-select-filter" type="text" />
      <ul class="custom-select-list">
        <li tabindex="0" data-selected="false" data-disabled="false">--Choose One--</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 1</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 2</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 3</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 4</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 5</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 6</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 7</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 8</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 9</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 10</li>
        <li tabindex="0" data-selected="false" data-disabled="false">Option 11</li>
      </ul>
    </div>
  </div>
  <span class="error"></span>
</div>
