<div class="field file-upload">
  <label for="file-upload">Upload File<abbr title="required">*</abbr></label>
  <div class="file-upload-wrapper">
    <input id="file-upload" type="file" required>
    <input type="text" class="custom-file-upload-input" size="40" tabindex="-1" disabled required>
    <button type="button" class="button-secondary-small" tabindex="-1">Select a File</button>
  </div>
</div>
