<div class="button-group">
  <div class="primary-actions">
    <button class="button-secondary" type="submit">Save &amp; Exit</button>
    <button class="button-primary" type="submit">Next</button>
  </div>
  <div class="secondary-actions">
    <button class="button-secondary" type="cancel">Cancel</button>
  </div>
</div>
