<table class="list-striped custom-option">
  <colgroup>
    <col class="list-action">
    <col class="list-id">
    <col class="list-date">
    <col class="list-description">
    <col class="list-download">
  </colgroup>
  <tr>
    <td>
      <input type="checkbox" name="checkbox-group-1" id="checkbox-1" />
      <span class="custom-checkbox-input"></span>
    </td>
    <td>
      <label for="checkbox-1">ID-12-34</label>
    </td>
    <td>
      <label for="checkbox-1">00-00</label>
    </td>
    <td class="field">
      <label for="checkbox-1">Item Title</label>
      <a href="#" class="icon-info">&nbsp;</a>
    </td>
    <td>
      <a href="#" class="icon-document-pdf">View Form</a>
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="checkbox-group-1" id="checkbox-2" disabled="disabled"/>
      <span class="custom-checkbox-input" data-disabled="true"></span>
    </td>
    <td>
      <label for="checkbox-2">ID-12-34</label>
    </td>
    <td>
      <label for="checkbox-2">00-00</label>
    </td>
    <td class="field">
      <label for="checkbox-2">Item Title</label>
      <a href="#" class="icon-info">&nbsp;</a>
    </td>
    <td>
      <a href="#" class="icon-document-pdf">View Form</a>
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="checkbox-group-1" id="checkbox-3" />
      <span class="custom-checkbox-input"></span>
    </td>
    <td>
      <label for="checkbox-3">ID-12-34</label>
    </td>
    <td>
      <label for="checkbox-3">00-00</label>
    </td>
    <td class="field">
      <label for="checkbox-3">Item Title</label>
      <a href="#" class="icon-info">&nbsp;</a>
    </td>
    <td>
      <a href="#" class="icon-document-pdf">View Form</a>
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="checkbox-group-1" id="checkbox-4" />
      <span class="custom-checkbox-input"></span>
    </td>
    <td>
      <label for="checkbox-4">ID-12-34</label>
    </td>
    <td>
      <label for="checkbox-4">00-00</label>
    </td>
    <td class="field">
      <label for="checkbox-4">Item Title</label>
      <a href="#" class="icon-info">&nbsp;</a>
    </td>
    <td>
      <a href="#" class="icon-document-pdf">View Form</a>
    </td>
  </tr>
  <tr>
    <td>
      <input type="checkbox" name="checkbox-group-1" id="checkbox-5" />
      <span class="custom-checkbox-input"></span>
    </td>
    <td>
      <label for="checkbox-5">ID-12-34</label>
    </td>
    <td>
      <label for="checkbox-5">00-00</label>
    </td>
    <td class="field">
      <label for="checkbox-5">Item Title</label>
      <a href="#" class="icon-info">&nbsp;</a>
    </td>
    <td>
      <a href="#" class="icon-document-pdf">View Form</a>
    </td>
  </tr>
</table>
