<div class="button-group-inline">
  <a href="#" class="button-primary icon-x">Delete</a>
  <a href="#" class="button-primary icon-plus">Add</a>
  <a href="#" class="button-primary icon-edit">Edit</a>
</div>
