<ul class="link-group-inline">
  <li><span class="icon-x-alt">&nbsp;</span><input type="button" value="Remove"></li>
  <li><span class="icon-copy">&nbsp;</span><input type="button" value="Copy"></li>
  <li class="hide"><span class="icon-edit">&nbsp;</span><input type="button" value="Edit"></li>
</ul>
