<div class="page-push">
  <div class="page-push-actions">
    <a href="#push-panel-1" class="icon-down-arrow" data-active="false">&nbsp;</a>
  </div>

  <dl class="page-push-overview">
    <div class="overview-section">
      <dt class="h5">Market</dt>
      <dd>Proteccion Tecnica Interconsu34...</dd>
    </div>
    <div class="overview-section">
      <dt class="h5">Total Value</dt>
      <dd>$000,000</dd>
    </div>
    <div class="overview-section">
      <dt class="h5">Premium</dt>
      <dd>$000,000</dd>
    </div>
  </dl>

  <div class="page-push-panels">
    <div id="push-panel-1" class="page-push-panel" data-active="false">
      <dl class="panel-section">
        <dt class="h4">Account</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing eddt.</dd>
        <dd>424810: Beer and ale Merchant Wholesalers</dd>
        <dd><a href="#" class="website">accountswebsite.com</a></dd>
      </dl>

      <dl class="panel-section">
        <dt class="h4">Market</dt>
        <dd>Proteccion Tecnica Interconsult, Agente de</dd>
        <dd><a href="#" class="website">Guideddnes, A.M. Best Rating</a></dd>
        <dt class="h4">Retailer</dt>
        <dd>1st Community Insurance Services</dd>
        <dd><a href="#" class="website">Ken Conrad</a></dd>
      </dl>

      <dl class="panel-section">
        <dt class="h4">Property <small>(Effective: 12/12/12)</small></dt>
        <dd>
          <table class="table-simple">
            <thead>
              <tr>
                <th></th>
                <th>Value</th>
                <th>Premium</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td></td>
                <td><strong>$000,000</strong></td>
                <td><strong>$00,000</strong></td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>Location 1</td>
                <td>$000,000</td>
                <td>$00,000</td>
              </tr>
              <tr>
                <td>Location 2</td>
                <td>$000,000</td>
                <td>$00,000</td>
              </tr>
              <tr>
                <td>Location 3</td>
                <td>$000,000</td>
                <td>$00,000</td>
              </tr>
            </tbody>
          </table>
        </dd>
      </dl>

      <dl class="panel-section">
        <dt class="h4">Quick Links</dt>
        <dd><a href="#" class="website">Crime Rating</a></dd>
        <dd><a href="#" class="website">Distance to Coast Calculator</a></dd>
      </dl>
    </div>
  </div>
</div>
