<table class="table-base">
  <thead>
    <tr>
      <th>State</th>
      <th>Tax/Fee</th>
      <th>Taxable Premium</th>
      <th>Taxable Fees</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>Payee</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td colspan="7">No Records to Display</td>
    </tr>
</table>