---
title: "Progress Bars: Modules"
id: modules
---
h1 Progress Bars

p Progress bars are to be used for any process that progressivly leads a user towards an end result.

h2 Implementation
p Maximum Width: <b>1050px</b>
p Maximum number of Steps: <b>7</b>
p Minimum number of Steps: <b>3</b>
p Max character count per step: <b>15</b>



h2 Stages

h3 Inital
= live_example('code-examples/basic-progress-bar-html')
= code_example('code-examples/basic-progress-bar-html', 'html')

h3 Inprogress
= live_example('code-examples/inprogress-progress-bar-html')
= code_example('code-examples/inprogress-progress-bar-html', 'html')
