<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Title of Page</title>
    
    <link rel="stylesheet" href="" />
    <script src=""></script>
  </head>
  <body>
  <!-- content -->
  </body>
</html>