---
title: Markup
id: 'code-standards'
---
h1 Accessibility

p The accessibility of a web site's content, including its source order without any applied CSS or JavaScript, must be taken into account.

p Web Platform's <a href="https://docs.webplatform.org/wiki/concepts/accessibility">Accessibility Basics</a> article is a good introduction to accessibility for those unfamiliar with them. During development, websites should be checked with a screen reader to ensure they are easy to use.

p All developers using computers running OS X or those with access to an iOS device have access to VoiceOver as it is installed on both Apple operating systems. Another popular screen reading application, especially for Windows machines, is JAWS, although that is proprietary software and fairly expensive at that.

p A final resource for testing accessibility is to access a website using the <a href="http://lynx.browser.org/">Lynx Browser</a>. As a text-only browser, it will strip out styling and interactions, leaving only raw content in the order it is presented. As an added bonus, this is also a good analogue to how crawlers and search engines typically view a given page.


h2 RDFa

p Resource Description Framework in Attributes, more commonly known as RDFa, is an extension to HTML5 allowing for robust markup of objects in HTML, including items such as people, places, events, recipes, and reviews.

p They are used to precisely describe these objects, mostly to machines, by attaching metadata about each object as attributes. The most common immediate use for this metadata is in use by search engines and social networks, amongst others, allowing their crawlers to understand exactly what is on any given page.

p This, in turn, allows them to provide more accurate and higher ranked information about each piece of content. A useful side effect of marking up all content with RDFa information, especially when using a Content Management System (CMS), is that it ensures that all of the relevant metadata is readily available in individual chunks. These chunks become fine-grain points of control for each piece of content that can be syndicated outside of pure markup.
