---
title: Code Standards
backURL: ~
id: code-standards
---

h1 Code Standards - General Overview

p The coding standard document will provide general guidelines specific to the development aspect of the application we build. Currently it will focus on HTML, CSS, and JavaScript but will eventually provide information on .Net, Sharepoint and Mobile